@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0f766e;
  --color-primary-dark: #0d3b66;
  --color-primary-light: #14b8a6;
  --color-secondary: #f59e0b;
  --color-accent: #8b5cf6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #3b82f6;
}

body {
  background: #f8fafc;
  color: #171717;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
